*handler.zip
*bin
.idea/
*dist/
.envrc
/vendor
awsmock
awsmocks
svcmock
mocks/*mock
mocks/gomock*
/temp.states.json
*coverage-reports/
*.iml
error.log
.DS_Store
.pytest_cache
__pycache__
logs/
coverage/
